html {
    font-size: 14px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: #343a40;
}

.login { 
    position: absolute;
    top: 50%;
    left: 20%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}

#loginForm input { 
    width: 100%; 
    margin-bottom: 10px; 
    background: #0000004d;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: white;
    text-shadow: 1px 1px 1px black;
    border: 1px solid #0000004d;
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px #64646433, 0 1px 1px #ffffff33;
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px #ffffff33; }

button[name="register"] {
    color: white;
    float: right;
}

#mapid {
    height: 90.5vh;
}

#uploadBar {
    width: fit-content;
}

#myChart{
    background-color: white; 
    width: 100%;
    height: auto;
}

#userData{
    position: absolute;
    width: 100%;
    height: auto;
}

.col-xs-6{
    position: relative;
    border: 2px solid #333333;
    border-radius: 10px;
    margin-top: 15px;
}

.shadow{
    position: relative;
    border: 2px solid #333333;
    border-radius: 10px;
}

.fileToUpload{
    position: relative;
    margin-right: 10px
}

#uploadBar{
    position: absolute;
}